html, body
{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body 
{
    background-color: #181714;
}

.nav-section
{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #211f1b solid 2px;
}

.nav-bar
{
    display: flex;
    width: 60%;
}

.navbar, #nav-page:hover
{
    background-color: #2a2722;
    color: #fff;
}

.navbar, a
{
    text-decoration: none;
    color: #d9d9d9;
    font-size: 1.2em;
}

#homepage
{
    padding: 15px 0px;
    width: 60%;
}

#nav-page
{
    padding: 15px 18px;
    text-align: right;
    border-radius: 8px;
}

.header-section
{
    margin: 5em 12em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: #211f1b solid 2px;
    border-right: #211f1b solid 2px;
}

.header-text
{
    padding: 25px 0;
    width: 65%;
    line-height: 25px;
}

.header-section, #header
{
    font-size: 1.8em;
    color: #fff;
    font-weight: 100;
}

.header-section, #sub-header
{
    font-size: 1.05em;
    color: #b4b4b4;
}

.header-image, #deadpool
{
    height: 16em;
    transform: scaleX(-1); 
}
